*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    background-color: #7c238c;
    width: 100%;
    justify-content: center;
    
}

.header-title{
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
}

.menu{
   width: 100%;
   background-color: black;
   padding: 10px 0; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
}

.menu-list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item{
    margin: 0 15px; 
}

.menu-link{
    color:  #a300c4;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; 
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.menu-link:hover{
    background-color: #5a0b5f; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra en el hover */
    
}
